<section class="container">
  <div class="row">
    <div class="col-sm-6">
      <p>kitchen</p>
      <img src="https://content.codecademy.com/projects/make-a-website/lesson-4/kitchen.jpg" alt="Kitchen">
    </div>
    <div class="col-sm-6">
      <p>woodwork</p>
      <img src="https://content.codecademy.com/projects/make-a-website/lesson-4/woodwork.jpg" alt="Woodwork">
    </div>
    <div class="col-sm-6">
      <p>gifts</p>
      <img src="https://content.codecademy.com/projects/make-a-website/lesson-4/gifts.jpg" alt="Gifts">
    </div>
    <div class="col-sm-6">
      <p>antiques</p>
      <img src="https://content.codecademy.com/projects/make-a-website/lesson-4/antique.jpg" alt="Antiques">
    </div>
  </div>
  <div class="row text-center">
    <a class="btn btn-secondary" href="#">View Complete Catalogue</a>
  </div>
</section>
